@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    
}

/* headings and logo */

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation links */

#menu {
    font-size: 130%;
    letter-spacing: 3px;

}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
    
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

 /* hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;

}

#cover-text, #cover-text h2 {
    color: #fff;
}

 #hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.png') no-repeat center center;

    /* animates zoom effect on loading*/
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
 }

/* creates the level of zoom for hero image */

@keyframes hero-zoom {
    from{
        transform: scale(1);

    }
    to{
        transform: scale(1.1);

    }
}

#cover-text {
    font-size: 130%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(26, 70, 129, 0.7);

    bottom: 30px;
    right: 150px;

    position: absolute;
}

/* club ethos */

#club-ethos {
    height: 600px;

}

#left-about {
    padding-top: 30px;
    width: 40%;
    float: left;
    
}

#right-about {
    padding-top: 30px;
    width: 40%;
    float: right;
    
    
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-top: 100px;
    text-align: center;
    
}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-top: 100px;
    text-align: center;
    

    
}


.right-about-heading h2 {
    text-align: center;
}

.right-about-heading {
    text-align: center;
}

#welcome {
    text-align: center;
    margin-top: 50px;
    font-size: 200%;
}



/* footer */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 7%;
    color: blue;
    
    

}



/* gallery */

#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0px;
    margin: 32px;
    
}

#photos > img {
    width: 100%;
}

#gallery {
    text-align: center;
    
}
/* sign up */

#sign-up {
    
    margin-top: 100px;
    border: 10px;
    text-align: center;

}

#fname {
    border-style: solid;
    border-color: blue;
    border-width: 2px;
}

#iname {
    border-style: solid;
    border-color: blue;
    border-width: 2px;

}

#email {
    border-style: solid;
    border-color: blue;
    border-width: 2px;
}

#signerup {
    margin-bottom: 50px;

}

.submit-button {
    margin-top:40px;
    border-radius:3px;
    padding:15px 32px 15px 32px;
    font-size:115%;
    background-color:blue;
    color:#fafafa;
    display:block;
    text-align:center;
    
    
}

.submit-button:hover {
    background-color:#fafafa;
    color:blue;


